html,
body {
	-webkit-app-region: no-drag;
}

h1 {
	color: blue;
}

.winControls {
	top: 0px;
	font-size: 18px;
	position: fixed;
	height: 30px;
	width: 35px;
	text-align: center;
	line-height: 30px;
	z-index: 10;
}

.winControls:hover {
	font-size: 18px;
	background-color: red;
}

#close {
	background-color: blue;
	right: 0px;
}

#minimize {
	background-color: aqua;
	right: 35px;
}

#titlebar {
	-webkit-app-region: drag;
	position: fixed;
	height: 30px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0;
	margin-bottom: 10px;
	background-color: rgba(250, 250, 250, 1);
}

#titSpacer {
	height: 10px;
	width: 100%;
	background-color: black;
}